body{
  background-color:rgb(227, 175, 247);
  margin: 0 20%;
  font-family: monospace;
}

#title{
  text-align:center;
  text-shadow: 5px 5px 10px rgb(85, 85, 230);
  font-size: 3em;
}

img{
  display:block;
  margin: 0 10%;
  max-width: 100%;
  box-shadow: 0px 0px 30px rgb(60, 23, 60);
}

#img-caption{
  margin: 0 10% 10%;
}

div#tribute-info{
  background-color: rgb(172, 107, 197);
  box-shadow: 20px 20px 15px rgb(82, 46, 86);
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left:38px;
  margin-right:38px;
}
div#about-her{
  background-color: rgb(172, 107, 197);
  box-shadow: 20px 20px 15px rgb(82, 46, 86);
  padding: 15px;
  margin-top: 25px;
  margin-left:38px;
  margin-right:38px;
}

h1.title{
  color:white;
  text-align:center;
  text-shadow: 5px 5px 10px black;
}
#tribute-link{
  text-align:center;
  margin-bottom: 20px;
}